.git
.github
node_modules
vendor
public/build
public/hot
database/database.sqlite
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.env
.env.*
!.env.example
.hermes
.claude
cookies.txt
